body {
    background-color: rgba(0, 0, 255, 0.349);
}

nav {
    font-size: 35px;
    font-family: sans-serif;
    text-align: right;
    background-color: white;
}

a {
    text-decoration-line: none;
}

.logo {
    width: 150px;
    height: 150px;
}